nav {
    color: white;
}

.five-day {
    color: white;
}

#uvi {
    display: inline-block;
    padding: 0.25rem;
    color: white;
}

li:hover {
    background: #F27C70;
}

li:active {
    background: #4CAF50;
}